body, *{
    margin: 0;
}
.menu{
    height: 50px;
    display: flex;
    width: 1200px;
    
}
.menuitem{
    background-color: blue;
    color: white;
    font-size: 25px;
    width: 20%;
    text-align: center;
    line-height: 50px;
    border: 1px solid;
    cursor: pointer;
    font-weight: bold;
}
.menuitem:hover{
    background-color: red;
}
.submenu{
    position: relative;
    border: 1px solid black;
    display: none;
    
}
.menuitem:hover .submenu{
    display: block;
}
.submenu li{
    color: black;
    list-style-type: none;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
}
.submenu li:hover{
    color: blue;
}
.khoangcach{
    height: 400px;
}
.sidebaritem{
    background-color: blue;
    width: 150px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding: 10px;
    position: relative;
    margin: 1px 0px;
}
.sidebaritem:hover{
    background-color: red;
}
.sidebaritem:hover .subsidebar{
    display: block;
}
.subsidebar{
    border: 1px solid black;
    position: absolute;
    left: 170px;
    top: 0px;
    background-color: white;
    width: 300px;
    max-width: max-content;
    display: none;
}
.subsidebar li{
    list-style-type: none;
    color: black;
    padding: 10px;
    margin-left: -30px;
}
.subsidebar li:hover{
    color: blue;
}